<% include ../head %>

<div class="container">
	<div class="row col-md-12" style="border-bottom: 2px solid #000000; margin-bottom: 10px;">
		<h3>Edit Document</h3>
	</div>	
	<form method="post" id="editFile" role="form">
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="form-group col-md-10">
						<label for="Name">Caption</label> 
						<textarea class="form-control" name="Caption"><%=model.Caption%></textarea>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-10">
						<label for="Name">Credit / Source</label> 
						<textarea class="form-control" name="Credit"><%=model.Credit%></textarea>
					</div>
				</div>					
			</div>
			<div class="col-md-5">
				<%if (model.DocumentType == 'Image') {%>
					<figure class="thumbnail">
						<img class="" src="<%=model.URLFolder + '/' + model.FileName%>">
						<figcaption style="font-size: 8pt;"><%=model.Caption%> (Credit: <%=model.Credit%>)</figcaption>
					</figure>
				<%};%>
			</div>					 	    	
		</div>
		<div class="row col-md-12">
			<a href="#" class="btn">Cancel</a>
			<button type="submit" class="btn btn-primary">Edit Document</button>
   		</div>  
	</form>
</div>
<% include ../jqueryScripts %>
<script>
	$("#editFile").validate({
		rules: {
			Credit: 'required',
			Caption: 'required',
		},
		messages: {
		}
	});
</script>
<% include ../footer %>