<% include ../head %>
<div class="container <%if (model.Obsolete) {%> deletedContent <%}%>">
	<div class="row col-md-12" style="border-bottom: 2px solid #000000; margin-bottom: 10px;">
		<h3>Place Details <span class="pull-right label label-danger">Status: <%=model.Status%></span></h3>
	</div>	
	<div class="row">
    	<form method="post" role="form" id="editSite">
    		<div class="col-md-8">
				<div class="row">
		    		<div class="form-group col-md-12">
		    			<label for="Name">Name</label> 
		    			<input class="form-control" data-bind="value: Name" type="text" name="Name"/>
		    		</div>
		    	</div>
		    	<div class="row">
		    		<div class="form-group col-md-12">
		    			<label for="Address">Address</label> 
		    			<input class="form-control" data-bind="value: Address" type="text" name="Address"/>
		    		</div>
		    	</div>
				<div class="row">
		    		<div class="form-group col-md-12">
		    			<label for="Description">Description</label> 
		    			<textarea style="height: 190px" data-bind="value: Description" class="form-control" name="Description"></textarea>
		    		</div>
		    	</div>
		    	<div class="row">
		    		<div class="form-group col-md-12">
		    			<label>Keywords:</label>
		    			<!-- ko if: (Keywords().length == 0) -->
							<i>No Keywords Entered Yet</i>
						<!-- /ko -->
						<!-- ko foreach: Keywords() -->
							<span class="label label-primary"><span data-bind="text: $data"></span> <input class="hiddenFormInput" type="textbox" data-bind="value: $data, attr:{id: 'Keywords[' + $index() + ']', name: 'Keywords[' + $index() + ']'}"> <a href='#' data-bind='click: $root.removeKeyword'>[x]</a></span>
						<!-- /ko -->
		    			<!-- <ul data-bind="foreach: Keywords()">
		    				<li><span data-bind="text: $data"></span> <a href='#' data-bind='click: $root.removeKeyword'>[x]</a></li>
		    			</ul> -->
		    		</div>
		    	</div>
		    	<div class="form-group row">
		    		<div class="col-md-6">
		    			<select class="form-control" id="newKeyword">
		    				<option value=""></option>
		    				<%for (var i = 0; i < keywords.length; i++) {
		    					var item = keywords[i];
		    				%>
		    					<option value="<%=item.Text%>"><%=item.Text%></option>
		    				<%};%>
		    			</select>
		    		</div>
		    		<div class="col-md-6">
		    			<button type="button" class="btn btn-success" data-bind="click: addKeyword">Add Keyword</button>
		    		</div>
		    	</div>
				<div class="row">
		    		<div class="form-group col-md-12">
		    			<label>Tours:</label>
		    			<!-- ko if: (Tours().length == 0) -->
							<i>No Tours Entered Yet</i>
						<!-- /ko -->
						<!-- ko foreach: Tours() -->
							<span class="label label-info"><span data-bind="text: $data"></span> <input class="hiddenFormInput" type="textbox" data-bind="value: $data, attr:{id: 'Tours[' + $index() + ']', name: 'Tours[' + $index() + ']'}"> <a href='#' data-bind='click: $root.removeTour'>[x]</a></span>
						<!-- /ko -->
		    			<!-- <ul data-bind="foreach: Tours()">
		    				<li><span data-bind="text: $data"></span> <a href='#' data-bind='click: $root.removeTour'>[x]</a></li>
		    			</ul> -->
		    		</div>
		    	</div>
		    	<div class="form-group row">
		    		<div class="col-md-6">
		    			<select class="form-control" id="newTour">
		    				<option value=""></option>
		    				<%for (var i = 0; i < tours.length; i++) {
		    					var item = tours[i];
		    				%>
		    					<option value="<%=item.Text%>"><%=item.Text%></option>
		    				<%};%>
		    			</select>
		    		</div>
		    		<div class="col-md-6">
		    			<button type="button" class="btn btn-success" data-bind="click: addTour">Add Tour</button>
		    		</div>
		    	</div>
		    	<div class="row">
		    		<div class="form-group col-md-12">
		    			<label for="RegistrationNum">National, State, Local ID Numbers</label> 
		    			<input class="form-control" data-bind="value: RegistrationNum" type="text" name="RegistrationNum"/>
		    		</div>
		    	</div>
				<div class="row">
					<div class="form-group col-md-12">
						<label>Documents:</label>
						<ul>
							<% for (var i=0; i < model.Files.length;i++) { 
								var item = model.Files[i];
								if (item.DocumentType == 'Image') continue;
								if (item.Obsolete && locals.user.userLevel < 100) continue;
								if (locals.user.userLevel < 50 && !item.Approved) continue;
							%>
								<li <% if (item.Obsolete) {%> class="deletedContent" <%} else if(!item.Approved) { %> class="alert-danger" <% } %>>
									<a target="_blank" href="<%=item.URLFolder + '/' + item.FileName%>"><%=item.Caption%></a> (Credit: <%=item.Credit%>)
									<div class="btn-group btn-group-xs">
										<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
											Action <span class="caret"></span>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li><a href="/sites/details/<%=model._id%>/document/edit/<%=item._id%>">Edit Document Details</a></li>
											<li><a href="/sites/details/<%=model._id%>/document/delete/<%=item._id%>">Delete Document</a></li>
											<% if(!item.Approved) { %> 
												<li class="divider"></li>
												<li><a href="/moderator/content/approve/<%=model._id%>/Document/<%=item._id%>">Approve Document</a></li>
												<li><a href="/moderator/content/reject/<%=model._id%>/Document/<%=item._id%>">Reject Document</a></li>
											<% } %>
										</ul>
									</div>
								</li>
							<% } %>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<% 
						var b = 0;
						for (var i=0; i < model.Files.length;i++) { 
							var item = model.Files[i];
							if (item.DocumentType != 'Image') continue;
							if (item.Obsolete && locals.user.userLevel < 100) continue;
							if (locals.user.userLevel < 50 && !item.Approved) continue;							
						%>
							<%if (b % 4 == 0) {%> <div class="row"></div> <% b = 0;};%>
							<div class="col-md-3 col-sm-3">
								<figure <% if (item.Obsolete) {%> class="thumbnail deletedContent" <%} else if(!item.Approved) { %> class="alert-danger thumbnail" <% } else { %> class="thumbnail" <%}%>>
									<a href="<%=item.URLFolder + '/' + item.FileName%>" data-lightbox="PlaceImages" title="<%=item.Caption%> (Credit: <%=item.Credit%>)"><img style="margin-bottom: 5px;" class="thumbnail" src="<%=item.URLFolder + '/' + item.ThumbName%>"></a>
									<figcaption style="font-size: 8pt;"><%=item.Caption%> (Credit: <%=item.Credit%>)</figcaption>
									<div class="btn-group btn-group-xs">
										<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
											Action <span class="caret"></span>
										</button>
										<ul class="dropdown-menu" role="menu">											
											<li><a href="/sites/details/<%=model._id%>/document/edit/<%=item._id%>">Edit Image Details</a></li>
											<li><a href="/sites/details/<%=model._id%>/document/delete/<%=item._id%>">Delete Image</a></li>	
											<% if(!item.Approved) { %> 
												<li class="divider"></li>
												<li><a href="/moderator/content/approve/<%=model._id%>/Image/<%=item._id%>">Approve Image</a></li>
												<li><a href="/moderator/content/reject/<%=model._id%>/Image/<%=item._id%>">Reject Image</a></li>
											<% } %>		 							
										</ul>
									</div>
								</figure>
							</div>
						<% b++; } %>
					</div>
				</div>
    		</div>
    		<div class="col-md-4">
    			<div class="row col-md-12">
    				<label>Location</label>
    				<input type="text" data-bind="value: loc" name="loc" class="editor-for-dbgeography hiddenFormInput" />
				</div>
				<div style="margin-top:15px;" class="row">
					<div style="margin: 10px 0;"><input class="btn btn-info btn-block" type="submit" name="submitValue" value="Upload New Document"/></div>
					<div style="margin: 10px 0;"><input class="btn btn-primary btn-block" type="submit" name="submitValue" value="Save Changes"/></div>
					<div style="margin: 10px 0;"><input class="btn btn-danger btn-block" type="submit" name="submitValue" value="Delete Place"/></div>
					<%if (model.Status == "Draft" || model.Status == "Published") {%><div style="margin: 10px 0;"><input class="btn btn-success btn-block" type="submit" name="submitValue" value="Submit Place to Moderators"/></div><%};%>
					<%if (locals.user.userLevel >= 50) {%>
					<div style="margin: 10px 0;"><input class="btn btn-danger btn-block" type="submit" name="submitValue" value="Send Back To User (Set Draft Status)"/></div>
					<%if (model.Status != "Published") {%><div style="margin: 10px 0;"><input class="btn btn-warning btn-block" type="submit" name="submitValue" value="Publish Place"/></div><%};%>
					<%};%>
				</div>	
				<div class="row">
					<div class="row">
			    		<div class="form-group col-md-12">
			    			<label for="InternalNotes">Contributor/Moderator Internal Notes</label> 
			    			<textarea class="form-control" name="InternalNotes"><%=model.InternalNotes || ''%></textarea>
			    		</div>
			    	</div>
			    	<div class="col-md-12">
			    		<div class="row">
			    			<dl>
			    				<dt>Site Created By:</dt>
			    				<dd style="padding-left: 10px;"><%=(userInfo.RecEnterBy ? userInfo.RecEnterBy.screenName : 'Unavailable')%></dd>
			    				<dt>Site Created Date:</dt>
			    				<dd style="padding-left: 10px;"><%=model.RecEnterDate.toDateString() + ' ' + model.RecEnterDate.getHours() + ":" + model.RecEnterDate.getMinutes()%></dd>
			    				<dt>Site Last Edited By:</dt>
			    				<dd style="padding-left: 10px;"><%=(userInfo.RecModBy ? userInfo.RecModBy.screenName : 'Unavailable')%></dd>
			    				<dt>Site Last Edited Date:</dt>
			    				<dd style="padding-left: 10px;"><%=model.RecModDate.toDateString() + ' ' + model.RecModDate.getHours() + ":" + model.RecModDate.getMinutes()%></dd>
			    			</dl>
			    		</div>
			    	</div>
				</div>			
    		</div>    	
    	</form>
    </div>
	<div class="row">
		<div class="col-md-7">
			<div class="row col-md-12">
				<label>Comments</label>
			</div>
			<% for (var i=0; i < model.Comments.length;i++) { 
				var item = model.Comments[i];
				if (item.Obsolete && locals.user.userLevel < 100) continue;
				if (locals.user.userLevel < 50 && !item.Approved) continue;
				//if (item.DocumentType != 'Image') continue;
			%>
				<div <% if (item.Obsolete) {%> class="media deletedContent" <%} else if(!item.Approved) { %> class="alert-danger media" <% } else { %> class="media" <%}%>>
					<div style="text-align: center;" class="pull-left">
						<!-- <img class="media-object" src="https://www.gravatar.com/avatar/13e293753b4d15f7a721f6690c7aea29?s=64&d=identicon&r=PG"> -->
						<!-- <img class="media-object thumbnail" style="margin-bottom: 5px;" src="http://placehold.it/64x64"> -->
						<span style="font-size: 20pt; width: 64px;" class="glyphicon glyphicon-user"></span>
						<br>						
						<a href="/sites/details/<%=model._id%>/comment/delete/<%=item._id%>" class="btn btn-danger btn-xs">Delete</a>
					</div>				
					<div class="media-body">
						<!-- <h4 class="media-heading">Media heading</h4> -->
						<div><%= item.Text %></div>
						<div><sup>Author: <%= item.Author.Username %> @ <%= item.CommentDate %></sup></div>

						<% if(!item.Approved && locals.user && locals.user.userLevel >= 50) { %> <div><a href="/moderator/content/approve/<%=model._id%>/Comment/<%=item._id%>" class="btn btn-success btn-xs">Approve Comment</a> <a href="/moderator/content/reject/<%=model._id%>/Comment/<%=item._id%>" class="btn btn-danger btn-xs">Reject Comment</a></div> <% } %>
					</div>
				</div>
			<% } %>
		</div>
	</div>
</div>
<% include ../jqueryScripts %>
<% include ../leafletScripts %>
<script>

	$("#editSite").validate({
		rules: {
			// Name: 'required',
			loc: 'required',
			Address: 'required',
			// Description: 'required'
		},
		messages: {
		}
	});

	$( "#editSite" ).submit(function( event ) {
		
		var submitVal = $("input[type=submit][clicked=true]").val();
		if (submitVal == 'Delete Place') {
			$("input[type=submit][clicked=true]").addClass('btn-striped');
			$("input[type=submit][clicked=true]").val('Really Delete Place??');
			event.preventDefault();
		} else if (submitVal == 'Really Delete Place??') {
			$("input[type=submit][clicked=true]").val('Delete Place');
			$("input[type=submit][clicked=true]").removeClass('btn-striped');
		};		
	});

	$("form input[type=submit]").click(function() {
	    $("input[type=submit]", $(this).parents("form")).removeAttr("clicked");
	    $(this).attr("clicked", "true");
	});		

	var HistoricSite = function(site) {
		var self = this;
	    self.Name = ko.observable(site.Name);
	    self.Address = ko.observable(site.Address);
	    self.RegistrationNum = ko.observable(site.RegistrationNum);
	    self.Description = ko.observable(site.Description);
	    self.loc = ko.observable(JSON.stringify(site.loc));
	    self.Keywords = ko.observableArray(site.Keywords);
	    self.Tours = ko.observableArray(site.Tours);

	    self.addKeyword = function () {
	    	var newKeyword = $('#newKeyword').val();
	    	if (newKeyword) {self.Keywords.push(newKeyword);};	    	
	    	$('#newKeyword').val('');
	    }

	    self.removeKeyword = function(keyword) {
        	$.each(self.Keywords(), function() { self.Keywords.remove(keyword) });
    	};

    	self.addTour = function () {
	    	var newTour = $('#newTour').val();
	    	if (newTour) {self.Tours.push(newTour);};	    	
	    	$('#newTour').val('');
	    }

	    self.removeTour = function(tour) {
        	$.each(self.Tours(), function() { self.Tours.remove(tour) });
    	};

		$('#newKeyword').keypress(function(event){
			if (event.keyCode == 10 || event.keyCode == 13) {
				self.addKeyword();
				event.preventDefault();
			}
		});   
		
		$('#newTour').keypress(function(event){
			if (event.keyCode == 10 || event.keyCode == 13) {
				self.addKeyword();
				event.preventDefault();
			}
		});  	
	};
	ko.applyBindings(new HistoricSite(
		<%- JSON.stringify(model) %>
	));
</script>
<script src="/javascripts/geomEditor.js"></script>
<% include ../footer %>